# ====== DOMAIN (для Caddy на сервере) ======
DOMAIN=lookfinder.xyz

# ====== POSTGRES ======
POSTGRES_DB=look_finder_db
POSTGRES_USER=look_finder_user
POSTGRES_PASSWORD=

# ====== BACKEND ENV (Spring подтянет из application.properties) ======
DB_URL=jdbc:postgresql://postgres:5432/look_finder_db
DB_USER=look_finder_user
DB_PASSWORD=

SPRING_PROFILES_ACTIVE=prod
