@font-face {
  font-family: "main-font";
  src: url("./assets/fonts/main_font.ttf") format("woff2");
  font-weight: 100 900; /* ось це дає “будь-які” ваги */
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font-family: 'Ubuntu', sans-serif !important;
}